body{
    color: #1A1818;
    font-weight: 400;
    font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FCFAFA;
}

.add-task-block {
    border-radius: 3px;
    line-height: 300%;
    background: #b2adfa;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.add-task-block:hover {
    opacity: 0.75;
}

.clickable {
    cursor: pointer;
}

.btn-add-task {
    font-weight: 600;    
    background: none;
}

/* headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title-main {
        font-weight: 700;
}

.title-tasklist {
    border-bottom: 2px solid #1A1818;
}


/* task filter
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.task-filters {
    border-radius: 3px;
    background: #DFD9D5;
}

.task-filters button {
    background: none;
    border-radius: 0;
    font-weight: 400;
    transition: all 0.1s ease-in-out;

}

.task-filters button:hover {
    opacity: 0.75;
}

.task-filters .active {
    font-weight: 600;
}

.counter {
    font-size: 0.9rem;
}

/* tasklist elements 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loader {
    text-align: center;
    color:#b2adfa;
}

.task-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F5F3F0;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.10), 2px 4px 4px rgba(0, 0, 0, 0.10);
    text-align: center;
    overflow: hidden;
    line-height: 300%;
}

.task-entry input {
    float:left;
    width: 100%;
    border: none;
    outline: 0;
    background: none;
}

.task-entry:hover .task-remove {
    opacity: 1;
}

.task-entry-done input{
    color: #999;
    text-decoration: line-through;
}

.task-entry-done .task-status{
    background: #01CCA5;
}

.task-status {
    min-width: 50px;
    color: #1A1818;
    background: #DFD9D5;
}

.task-status:hover {
    opacity: 0.8;
}

.task-text {
    flex-grow: 1;
}

.task-remove {
    min-width: 50px;
    text-align: center;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.task-remove:hover {
    background: #F3450F;
    color: #EEF8FF;
}
[v-cloak] {
    display: none;
}

/* Animation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.task-fade-leave-active {
    transition: all .12s;
}

.task-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.task-fade-move {
    transition: all .16s;
}